.Header {
    width: 75%;
    margin: auto;
    background-color: white;
    padding: 4rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* Alineación Header */
.Header-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.Header-h1 {
    display: none;
}
.Header-container{
    width: 12%;
}

.Header-logo {
    /* background-color: aqua; */
    width: 20%;
    object-fit: contain;

}

.Header-svg {
    /* background-color: aqua; */
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: none;
}


.Nav-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;


    font-size: var(--h3);
}

.Nav-li {
    position: relative;
    cursor: pointer;
}

/* Animación debajo del texto para que el usuario sepa dónde se encuentra */

.Nav-li::after {
    content: '';
    display: block;
    width: 100%;
    height: .125rem;

    transform: scaleX(0);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Nav-li:hover::after {
    transform: scaleX(1);
    background-color: var(--amarillo);
}

/* Media */
/* Menú desplegable */
@media (max-width: 685px) {
    .Header {
        /* background-color: aqua; */
        width: 90%;
        padding: 1rem;
        position: relative;
    }

    .Header-svg {
        display: flex;
    }

    .Nav {
        background-color: var(--gris);
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .3s ease;
       
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }
    .Nav.isActive{
       height: 70vh;
       opacity: 1;
    }
 
    .Nav-ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .Header-logo{
        width: 20%;
    }

}