.Activity{
    width: 75%;
    margin: auto;
    /* background-color: antiquewhite; */
}

.Activity-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
   margin: 2rem auto;
    
}
.Activity-h1{
    font-size: var(--h2);
    font-weight: bold;
}
.Activity-img{
    width: 60%;
    /* background-color: var(--amarillo); */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.Activity-photo{
    object-fit: cover;
}
.Activity-p{
    font-size: calc(var(--h3) + 0.3em);
    font-weight: 500;
}
.Info{
    width: 100%;
    margin: 2rem auto;
    background-color: var(--gris);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.Info-container{
    padding: 2rem;
    border: 1px solid black;
}
.Info-ul{
font-size: var(--h3);
font-weight: bold;

display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
align-items: flex-start;

}
.Info-h2{
    font-size: 1.5em;
    font-weight: bold;
}
.Info-list{
    padding: 0.5em;
    font-size: 1em;
    font-weight: 400;
}

/* Media quearies */

@media (max-width :685px){
  .Activity-h1, .Reservas-h2{
    font-size: 1.8em;
  }
  .Activity-p{
    font-weight: 400;
    font-size: 1.2em;
  }
}


@media (max-width :310px){
 .Activity{
    width: 90%;
 }
 .Activity-img{
    width: 80%;
 }
  }
  
  