
.Card-article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 500px;
    background-color: var(--gris);
    border-radius: 1.25rem;
    transition: box-shadow 0.5 ease;
}
.Card-article:hover{
    box-shadow: 0.5rem 0.5rem  var(--amarillo);
}

.Card-h2{
    font-size: var(--h2);
    font-weight: bold;
   
}
.Card-img{
    object-fit: cover;
    width: 100%;
    height: 40vh;
    border-radius: 1rem 1rem 0 0 ;
}
.Card-text{
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-grow: 1;
}

.Card-h2{
    width: 100%;
    /* background-color: aqua; */
    font-size: var(--h3);
    font-weight: bold;
    text-transform: capitalize;
    text-align: initial;
    
   

}
.Card-p{
    height: 15vh;
}

.Card-btn{
    width: 90%; 
   
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--amarillo);
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    
   

}
.Card-btn:hover{
    font-weight: bolder;
    box-shadow: 0.1rem 0.1rem  var(--negro);
}

@media (max-width: 685px) {
    .Card-p{
        height: 15vh;
    }
}